* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #191919;
  line-height: 1;
  font-weight: 400;
  padding: 2rem;
  color: #f7ece1;
}

header {
  display: flex;
  justify-content: center;
  height: 4rem;
  margin-bottom: 5rem;
}

.header-links {
  position: fixed;
  padding: 10px 20px;
  background-color: #f7ece1;
  border-radius: 100px;
  box-shadow: 0 0 10px 0;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-nav-list a:link,
.main-nav-list a:visited {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  color: #191919;
  transition: all 0.3s;
}

.main-nav-list a:hover,
.main-nav-list a:active {
  color: #ffc72d;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.profile {
  border-radius: 2rem;
  margin: auto;
  /* justify-self: center; */
  max-width: 30rem;
}

section {
  /* justify-self: center; */
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  gap: 1rem;
  padding: 10px;
  max-width: 70rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.content h1 {
  font-size: 4.4rem;
  letter-spacing: 0.05px;
  line-height: 1;
  margin-bottom: 3.2rem;
}

.content span {
  color: #e4c46a;
}

.social-logo {
  display: flex;
  gap: 2rem;
}

.logo-img {
  max-width: 4rem;
}

.resume-btn {
  background-color: #e4c46a;
  padding: 1rem 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.resume-btn:hover {
  background-color: #f7e5b4;
  cursor: pointer;
}
