* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #191919;
  line-height: 1;
  font-weight: 400;
  padding: 2rem;
  color: #f7ece1;
}

.header {
  display: flex;
  justify-content: center;
  height: 4rem;
}

.header-links {
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 0 1rem 0;
  padding: 1rem 2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-nav-list a:link,
.main-nav-list a:visited {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  color: #191919;
  transition: all 0.3s;
}

.main-nav-list a:hover,
.main-nav-list a:active {
  color: #ffc72d;
}

.profile {
  border-radius: 2rem;
  /* justify-self: center; */
  width: 85%;
}

.main-section {
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.content-container {
  max-width: 70rem;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
}

.content h1 {
  font-size: 4.4rem;
  letter-spacing: 0.05px;
  line-height: 1;
  margin-bottom: 2.4rem;
}

.content span {
  color: #e4c46a;
}

.social-logo {
  display: flex;
  gap: 2rem;
}

.logo-img {
  max-width: 4rem;
}

.resume-btn {
  background-color: #e4c46a;
  padding: 1rem 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.resume-btn:hover {
  background-color: #f7e5b4;
  cursor: pointer;
}

.features {
  display: grid;
  justify-content: center;
  row-gap: 3.2rem;
  font-size: 1.8rem;
}

.features h2 {
  text-align: center;
  color: #e4c46a;
  font-size: 3.6rem;
  letter-spacing: 1;
}

.features-container {
  max-width: 100rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.feature-box {
  text-align: center;
  border: 2px solid #e4c46a;
  padding: 2rem;
  line-height: 1.5;
}

.feature-box h3 {
  font-size: 2.4rem;
  padding: 2rem;
}

.feature-btn {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background-color: #e4c46a;
  display: inline-block;
  /* border-radius: 1rem; */
  transition: all 0.3s;
}

.feature-btn:hover {
  background-color: #f7e5b4;
}

.feature-btn a:link,
.feature-btn a:visited {
  text-decoration: none;
  color: #191919;
  font-weight: 600;
}

.feature-btn a:hover,
.feature-btn a:active {
  color: black;
}
