* {
  font-family: "Roboto Slab", serif;
}
html,
body {
  /* background-image: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.7707457983193278) 0%,
    rgba(0, 0, 0, 1) 45%
  ); */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
}

/* #header-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid green;
  grid-template-columns: 2;
  width: 100%;
} */

#header-flex-container {
  display: flex;
  justify-content: space-between;
}
#header-image {
  display: flex;
  justify-content: flex-start;
}

#header-image > img {
  height: 10vh;
  width: 10vh;
  border-radius: 10px;
  margin-left: 2vh;
}

#header-links {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2vh;
}

#header-links > a {
  color: white;
  text-decoration: none;
}
p {
  /* color: #fb8b24; */
  color: #ffee00;
}
main {
  position: absolute;
  top: 15rem;
  height: 500px;
  width: 900px;
}
span {
  font-weight: bold;
  color: #eef5ff;
}
#hello {
  font-size: 100px;
  font-weight: bolder;
  color: #eef5ff;
}

@media (max-width: 680px) {
  html,
  body {
    font-size: 10px;
    min-width: min-content;
  }
  #header-flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #header-image > img {
    width: 5vh;
    height: 5vh;
  }
}
